table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 4px;
  cursor: pointer;
  border-radius: 4px;
}
